---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Home - Blog about Addictions in Oaxaca">
	<section class="bg-white text-gray-900">
		<div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8 text-center">
			<h1 class="text-4xl font-bold tracking-tight sm:text-5xl">
				Addictions in Oaxaca: A Real Problem
			</h1>
			<p class="mt-4 text-xl text-gray-600">
				It is necessary to reflect, inform, and act about addictions in the
				state of Oaxaca.
			</p>
			<img
				src="images/cigarette.webp"
				alt="Vista de Oaxaca"
				class="mt-10 rounded-lg shadow-lg w-full max-w-4xl mx-auto"
			/>
			<div class="mt-8 flex justify-center space-x-4">
				<a
					href="/blog"
					class="bg-[#1d3557] !text-white px-6 py-3 rounded-md hover:bg-[#457b9d] transition"
					>Read the Blog</a
				>
				<a
					href="/resources"
					class="bg-gray-200 text-gray-800 px-6 py-3 rounded-md hover:bg-gray-300 transition"
					>Informative Resources</a
				>
			</div>
		</div>
	</section>
</Layout>
